<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Dagbok</title>
</head>

<body>
    <h1>Tjabba</h1>
    <div class="leftSide">
        <h1>Dagbok</h1><br>
        <div th:each="diary : ${diary}">
            <h2 th:text="${diary.heading}">Det valda dagboksinläggets överskrift</h2>
        </div>
        <br>
        <p>Det valda inläggets text</p><br>
        <a href="http://localhost:8080/editDiaryEntry"><button>Redigera Inlägg</button></a>
    </div>
    <div class="rightSide">

        <div>
            <form class="diaryDateSelector">
                <input type="date" name="startOfSelectedDate"><br>
                <input type="date" name="endOfSelectedDate">
            </form>
        </div>

        <div class="diaryEntryList">
            <ul>
                Fix och pill. Jannes första film
                <li th:each="diary : ${diary}"><a th:href="@{/{diary}(diary=${diary.heading})}">
                        <span th:text=" ${diary.heading}"></span></a>
                </li>
            </ul>

        </div>
        <a href="http://localhost:8080/newDiaryEntry"><button>Skapa Inlägg</button></a>
    </div>




</body>

</html>