<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redigera Dagboksinlägg</title>
</head>

<body>
    <h1>Updatera inlägg</h1><br>
    <form action="#" th:action="@{/addNewDiaryEntry}" th:object="${diary}" method="post">
        <input type="hidden" th:field="*{id}">
        <label>Överskrift: </label>
        <input type="text" th:field="*{heading}" required><br>
        <label>Brödtext: </label>
        <input type="text" th:field="*{text}" required><br>
        <label>Datum: </label>
        <input type="date" th:field="*{date}" required><br>
        <button>Spara redigerat inlägg</button>
    </form>
    <a href="http://localhost:8080/"><button>Index</button></a>
</body>

</html>