<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Redigera Dagboksinlägg</title>
</head>

<body>
    <div class="leftSide">
        <form method="post" action="/editNewDiaryEntry">
            <label>Överskrift: </label>
            <input type="text" name="heading" required><br>
            <label>Brödtext: </label>
            <input type="text" name="text" required><br>
            <label>Datum: </label>
            <input type="date" name="date" required><br>
            <h2>Det valda dagboksinläggets överskrift</h2><br>
            <p class="diaryEntry">Det valda inläggets text</p><br>
        </form>
    </div>

    <div class="rightSide">

        <div>
            <form class="diaryDateSelector">
                <input type="date" name="startOfSelectedDate"><br>
                <input type="date" name="endOfSelectedDate">
            </form>
        </div>

        <div class="diaryEntryList">
            <ul>
                <!-- Fix och pill. Jannes första film -->
                <li th:each="diary : ${diary}"><span th:text="${diary.heading}"></span>

                </li>
            </ul>
        </div>
    </div>
</body>

</html>