<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <div id="leftSide">
        <form method="post" action="/addNewDiaryEntry">
            <label>Överskrift: </label>
            <input type="text" name="heading" required><br>
            <label>Brödtext: </label>
            <input type="text" name="text" required><br>
            <label>Datum: </label>
            <input type="date" name="date" required><br>
            <h2>Det valda dagboksinläggets överskrift</h2><br>
            <p id="diaryEntry">Det valda inläggets text</p><br>
        </form>
    </div>

    <div id="rightSide">

        <div id="diaryDateSelector">
            <ul>
                <li>Date 1</li>
                <li>Date 2</li>
            </ul>
        </div>

        <div id="diaryEntryList">
            <ul>
                <!-- Fix och pill. Jannes första film -->
                <li th:each="diary : ${diary}"><span th:text="${diary.heading}"></span>

                </li>
            </ul>
        </div>
    </div>
</body>

</html>