<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dagbok</title>
</head>

<body>
    <h1>Dagbok</h1><br>
    <div class="diaryEntryList">
        <ul>
            <li th:each="diary : ${diary}"><a th:href="@{/diaryEntry/{diary}(diary=${diary.id})}">
                    <span th:text=" ${diary.heading}"> </span>
                    <a th:href="@{/showEditDiaryEntry/{diary}(diary=${diary.id})}"><button>Redigera inlägg</button></a>
                    <a th:href="@{/deleteDiaryEntry/{diary}(diary=${diary.id})}"><button>Radera inlägg</button></a>
                </a>
            </li>
        </ul>
    </div>
    <a th:href="@{/showNewDiaryEntry}"><button>Skapa nytt Inlägg</button></a>
    <a href="http://localhost:8080/"><button>Index</button></a>

</body>

</html>