<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Dagbok</title>
</head>

<body>
    <h1>Dagbok</h1><br>


    <form> <!--Här ska det in en massa th: -->
        <p>Visa inlägg mellan följande datum:</p><br>
        <input type="date" name="startOfSelectedDate" required><br>
        <input type="date" name="endOfSelectedDate" required><br>
        <a th:href="@{/getSelectedDates}"></a><button>Välj datum</button>
    </form>


    <div class="diaryEntryList">
        <ul>
            <li th:each="diary : ${diary}"><a th:href="@{/diaryEntry/{diary}(diary=${diary.id})}">
                    <span th:text=" ${diary.heading}"> </span>
                </a>
                <a th:href="@{/showEditDiaryEntry/{diary}(diary=${diary.id})}"><button>Redigera inlägg</button></a>
                <a th:href="@{/deleteDiaryEntry/{diary}(diary=${diary.id})}"><button>Radera inlägg</button></a>
            </li>
        </ul>
    </div>
    <a th:href="@{/showNewDiaryEntry}"><button>Skapa nytt Inlägg</button></a>





</body>

</html>