<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Nytt Dagboksinlägg</title>
</head>

<body>
    <div class="leftSide">
        <form method="post" th:action="@{/addNewDiaryEntry}">
            <label>Överskrift: </label>
            <input type="text" name="heading" required><br>
            <label>Brödtext: </label>
            <input type="text" name="text" required><br>
            <label>Datum: </label>
            <input type="date" name="date" required><br>
            <button>Skapa Inlägg</button>
        </form>
    </div>

    <div class="rightSide">
        <div>
            <form method="post" th:action="@{/selectDiaryDates}" id="diaryDateSelector">
                <input type="date" name="startOfSelectedDate"><br>
                <input type="date" name="endOfSelectedDate">

            </form>
        </div>


    </div>
</body>

</html>