<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Nytt Dagboksinlägg</title>
</head>

<body>
    <h1>Skapa nytt inlägg</h1>
    <form action="#" th:action="@{/addNewDiaryEntry}" th:object="${diary}" method="post">
        <label>Överskrift: </label>
        <input type="text" th:field="*{heading}" placeholder="Överskrift" required><br>
        <label>Brödtext: </label>
        <input type="text" th:field="*{text}" placeholder="Dagboksinlägget" required><br>
        <label>Datum: </label>
        <input type="date" th:field="*{date}" required><br>
        <button type="submit">Skapa Inlägg</button>
    </form>
    <a href="http://localhost:8080/"><button>Index</button></a>
</body>

</html>